<footer class="footer">
  <!-- Navigation Menu 
  <nav class="footer-menu">
    {% for item in site.data.settings.menu %}
      <a href="{{ site.github.url }}/{{ item.url }}" class="footer-link">{{ item.name }}</a>
    {% endfor %}
    {% for item in site.data.settings.social %}
      <a href="{{ item.link }}" class="footer-link" target="_blank"><i class="fa-{{ item.type }} fa-{{ item.icon }}" aria-hidden="true"></i></a>
    {% endfor %}
  </nav>  -->
  
  <!-- University Logos -->
  <div class="footer-logos">
    <a 
    href="https://www.york.ac.uk/policy-engine/cost-of-living/" target="_blank">
    <img src="/assets/img/uoy.svg" alt="University of York Logo" class="footer-logo">
  </a>
  <a 
  href="https://www.lse.ac.uk/" target="_blank">
  <img src="/assets/img/lse.svg" alt="LSE Logo" class="footer-logo">
</a>
<a 
href="https://cpag.org.uk/child-poverty/causes-poverty?gad_source=1&gclid=Cj0KCQiAu8W6BhC-ARIsACEQoDDW7OpEEIlTNWiyV3xi8qGqKD58bBOv5DZbyA0biaVp1XNQzs4CDRwaAj_3EALw_wcB" target="_blank">
<img src="/assets/img/cpag.svg" alt="Child Poverty Action Group Logo" class="footer-logo">
</a>
<a 
href="https://www.financialfairness.org.uk/en-gb/" target="_blank">
<img src="/assets/img/abrdn.svg" alt="abrdn Financial Fairness Trust Logo" class="footer-logo">
</a>
<a 
href="https://www.gla.ac.uk/" target="_blank">
<img src="/assets/img/UoGlas_minus_15.png" alt="University of Glasgow Logo" class="footer-logo">
</a>
  </div>

  <!-- Footer Description -->
  <div class="footer-description">
    <a href="{{ site.github.url }}/">{{ site.title }} | {{ site.description }} <br> {{ site.description2 }}</a>
  </div>
</footer>
