<span class="post-date">
  {% if page.layout == "event" %}
  {{ page.date | date: "%-d %B %Y" }}
{% else %}
  {{ site.data.settings.post_date_prefix }}
  {% assign d = page.date | date: "%-d" %}
  {% case d %}
    {% when '1' or '21' or '31' %}{{ d }}st
    {% when '2' or '22' %}{{ d }}nd
    {% when '3' or '23' %}{{ d }}rd
    {% else %}{{ d }}th
  {% endcase %}
  {{ page.date | date: "%B" }}
  {{ page.date | date: "%Y" }}
  by
  {% if page.author %}
    {{ page.author }}
  {% else %}
    {{ site.author }}
  {% endif %}
  {% endif %}

  {% assign current_date = "now" | date: "%Y-%m-%d" %}
  {% assign post_date = page.date | date: "%Y-%m-%d" %}

  {% if post_date > current_date %}
    <strong class="future-date"></strong>
  {% endif %}
</span>