<div class="post-share">
  <div class="post-date">{{ site.data.settings.sharing_button_prompt }}</div>
  <div class="sharing-icons">
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.github.url }}{{ page.url }}" target="_blank"><i class="fa-brands fa-x-twitter" aria-hidden="true"></i></a>
    <a href="https://bsky.app/post?text={{ page.title }}%20{{ site.github.url }}{{ page.url }}" target="_blank"><i class="fa-brands fa-bluesky" aria-hidden="true"></i></a>
  </div>
</div>
